@{
    ViewData["Title"] = "Интернет-магазин АвтоРайЗап";


    <p>
        «АвтоРайЗап» — международная сеть интернет-магазина запчастей для иномарок работающая с 2008 года,
        как поставщик автозапчастей.
    </p>
    <p>
        Наша команда предлагает Вам 30 миллионов позиций
        оригинальных и неоригинальных автозапчастей для иномарок в наличии с
        собственных складов AWC и на заказ из Японии, Европы, ОАЭ, США, России.
    </p>
    <p>
        <a href="https://github.com/Valeria177/store">Ссылка на репозиторий</a>.
    </p>
    <img src="https://sun1-96.userapi.com/impg/w1ruw7oHvyBOEeP1cLV_GmEEGUMxr1iqU6HDaw/bxEvthbYUGs.jpg?size=586x719&quality=96&proxy=1&sign=8e070d4e43ded61daf80f846003e3cdd&type=album" alt="" width="120" height="120" />
}




